@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/cormorant-v11-latin-regular.woff2") format("woff2"), url("../fonts/cormorant-v11-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* cormorant-500 - latin */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/cormorant-v11-latin-500.woff2") format("woff2"), url("../fonts/cormorant-v11-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

p, h1, h2, a {
  font-family: 'Cormorant'; }

.bold {
  font-weight: 500; }

.no-scroll {
  overflow: hidden; }

h1, .h1 {
  font-size: 65px;
  line-height: 67px;
  letter-spacing: 0.04em; }

h2, .h2 {
  font-size: 55px;
  line-height: 67px; }

.text-big {
  font-size: 40px;
  line-height: 48px; }

p, .p, li {
  font-size: 28px;
  line-height: 34px; }

.navigation {
  font-size: 28px;
  line-height: 34px; }

.text-small {
  font-size: 19px;
  line-height: 22px; }

body {
  overflow-x: hidden; }

:root {
  --brown: #6E4D3C;
  --lightBrown: #B08060;
  --darkBrown: #57332C;
  --green: #8F9368;
  --darkGreen: #609389;
  --skin: #E4A99A;
  --coral: #E17A70;
  --purple: #B08EB2;
  --red: #CB5834;
  --milk: #F7EEE4;
  --white: #FCF6F2;
  --cormonant: Cormorant; }

p, a, h1, h2 {
  color: var(--brown); }

body {
  background: var(--white); }

.text-center {
  text-align: center; }

.text-uppercase {
  text-transform: uppercase; }

header {
  background: var(--white);
  position: relative;
  padding: 20px 0;
  z-index: 5; }

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: var(--lightBrown); }

.header__logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.header__nav-container {
  position: absolute;
  left: 0%;
  top: 100%;
  min-height: calc(100vh - 96px);
  background: #00000030;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: .3s;
  overflow: auto;
  height: 100%; }
  .header__nav-container.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all; }

.header__nav {
  transition: left .8s ease-in-out;
  background: var(--green);
  max-width: 494px;
  margin-right: 42px;
  position: relative;
  min-height: 100%;
  height: fit-content;
  min-height: calc(100vh - 96px);
  padding: 68px 82px 78px 136px; }
  .header__nav::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 42px;
    background: url("../img/waves-small.svg");
    background-repeat: repeat-y;
    background-size: 100% auto;
    top: 0%;
    left: 100%; }

.header__nav-item {
  margin-bottom: 48px; }
  .header__nav-item a {
    color: var(--white);
    font-size: 45px; }

.header__nav-contacts {
  margin-bottom: 0;
  margin-top: 77px; }

.wrapper {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto; }

.header__close-image {
  display: none; }

.header__open-image {
  display: block; }

.header__nav-opener.active .header__close-image {
  display: block; }

.header__nav-opener.active .header__open-image {
  display: none; }

.header__nav-opener, .header__cart {
  display: flex;
  align-items: center;
  gap: 10px; }

.cart-number {
  border-radius: 50%;
  width: 54px;
  height: 54px;
  border: 2px solid var(--green);
  font-family: sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center; }

footer {
  background: var(--purple);
  padding: 60px 0; }
  footer .wrapper {
    display: flex;
    justify-content: space-between; }
  footer .navigation {
    color: var(--white); }

.footer_logo-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px; }

.footer_inst {
  border-radius: 50%; }

.footer_nav {
  display: flex;
  gap: 70px; }
  .footer_nav li {
    margin-bottom: 22px; }
    .footer_nav li:last-child {
      margin-bottom: 0; }

.footer_nav-container {
  padding: 10px 15px;
  flex-shrink: 0; }

.footer_subscribe {
  padding-top: 10px; }

input, textarea {
  font-size: 22px;
  line-height: 30px;
  resize: none;
  background: transparent; }
  input::placeholder, textarea::placeholder {
    opacity: .8; }

.subscribe-input {
  position: relative; }
  .subscribe-input input {
    padding: 11px 80px 11px 24px;
    background: transparent;
    border-radius: 28px;
    border: 2px solid var(--white);
    color: var(--white);
    width: 100%; }
    .subscribe-input input::placeholder {
      color: var(--white); }

.subscribe-btn {
  position: absolute;
  right: 0;
  top: 0; }

.arrow-btn {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--white);
  flex-shrink: 0; }

.subscribe-title {
  margin-bottom: 15px; }

.hero {
  min-height: calc(100vh - 96px);
  background: #c4c4c4;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .hero h1 {
    color: var(--white);
    max-width: 975px; }

.categories {
  padding-top: 150px;
  position: relative;
  overflow: hidden;
  padding-bottom: 192px; }
  .categories::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 655px;
    left: 0;
    top: 0;
    background: var(--milk); }
  .categories .wrapper {
    position: relative;
    z-index: 2; }

.categories_rotator {
  position: relative;
  width: 170px;
  height: 170px;
  margin: 0 auto;
  margin-bottom: -85px; }
  .categories_rotator img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.rotator-image {
  left: 49%; }

.rotator-text {
  animation: rotatorRotation 15s linear infinite; }

@keyframes rotatorRotation {
  from {
    transform: translate(-50%, -50%) rotate(0); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }

.categories-list_item {
  max-width: 370px; }

.categories-list_item-image {
  width: 100%;
  aspect-ratio: 370\420; }

.categories-list_item_carf-header {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid var(--purple); }
  .categories-list_item_carf-header .arrow-btn {
    margin-left: auto;
    background: var(--purple); }

.categories-list {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px; }
  .categories-list li:first-child {
    margin-bottom: 100px;
    margin-right: auto; }
  .categories-list li:last-child {
    margin-top: 100px;
    margin-left: auto; }

.essentials {
  padding-bottom: 180px; }
  .essentials h2 {
    margin-bottom: 50px; }

.essentials-cards-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap; }

.essential-card {
  max-width: 250px;
  flex-basis: 150px;
  flex-grow: 1; }
  .essential-card img {
    width: 100%;
    aspect-ratio: 250/300;
    object-fit: cover;
    margin-bottom: 12px; }
  .essential-card h3 {
    margin-bottom: 8px; }
  .essential-card data {
    font-family: sans-serif; }

.some-love {
  display: grid;
  grid-template-columns: 1fr 38.75%; }

.love_image {
  position: relative; }
  .love_image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.love_text-container {
  position: relative;
  padding-left: 68px; }
  .love_text-container::after {
    content: "";
    width: 68px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--coral); }

.love_text {
  max-width: 730px;
  padding: 65px 20px 70px 20px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase; }
  .love_text img {
    padding: 14px 0; }
  .love_text p {
    letter-spacing: 0; }
    .love_text p:first-child {
      display: block;
      margin-bottom: 27px; }

.goto {
  padding: 84px 0; }
  .goto .wrapper {
    display: grid;
    grid-template-columns: 58.45% 1fr; }

.goto_container {
  background: var(--green); }

.goto_collage {
  position: relative; }
  .goto_collage img:first-child {
    position: absolute;
    aspect-ratio: 220/245;
    object-fit: cover;
    top: -84px;
    left: 155px; }
  .goto_collage img:nth-child(2) {
    position: absolute;
    aspect-ratio: 225/270;
    object-fit: cover;
    bottom: -82px;
    left: 0px; }
  .goto_collage img:last-child {
    display: block;
    margin-left: auto;
    aspect-ratio: 380/500; }

.goto_text-container {
  display: flex;
  align-items: center; }

.goto_text {
  padding: 30px;
  max-width: 415px;
  display: flex;
  align-items: center;
  margin-left: auto; }
  .goto_text p {
    color: var(--white); }
  .goto_text .arrow-btn {
    width: 75px;
    height: 75px;
    margin: 15px; }

.products {
  background: var(--milk);
  padding: 74px 0 20px 0; }
  .products h1 {
    color: var(--purple);
    margin-bottom: 40px; }
  .products h2 {
    color: var(--green);
    margin-bottom: 13px; }

.products-section {
  margin-bottom: 120px; }

.products-section_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px; }

.products-section_product {
  font-family: sans-serif; }
  .products-section_product img {
    aspect-ratio: 570/420;
    width: 100%;
    object-fit: cover;
    margin-bottom: 16px; }

.product_header {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 3px; }

.contacts {
  padding-top: 50px;
  padding-bottom: 165px; }
  .contacts .wrapper {
    display: flex;
    column-gap: 20px;
    justify-content: space-between; }

.contacts__form {
  flex-shrink: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 465px;
  width: 100%; }
  .contacts__form h2 {
    color: var(--lightBrown);
    margin-bottom: 30px; }
  .contacts__form fieldset {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    width: 100%; }
  .contacts__form input, .contacts__form textarea {
    margin-bottom: 14px;
    border-radius: 20px;
    border: 1px solid var(--brown);
    color: var(--brown);
    padding: 14px 22px;
    width: 100%; }
    .contacts__form input::placeholder, .contacts__form textarea::placeholder {
      color: var(--brown); }
  .contacts__form button {
    min-width: 210px;
    padding: 6px 20px;
    background: var(--coral);
    color: var(--white);
    width: fit-content;
    font-size: 37px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.05em;
    border-radius: 20px;
    margin: 0 auto; }

.contacts_image {
  position: relative;
  max-width: 610px;
  width: 100%;
  aspect-ratio: 610/477;
  height: fit-content;
  margin-top: 100px; }
  .contacts_image a {
    position: absolute;
    width: 10.49%;
    align-self: 1/1; }
    .contacts_image a img {
      width: 100%;
      height: 100%; }
    .contacts_image a:nth-child(3) {
      left: 18.20%; }
    .contacts_image a:nth-child(2) {
      top: 40.31%; }
  .contacts_image > img {
    width: 91.31%;
    aspect-ratio: 557/430;
    position: absolute;
    bottom: 0;
    right: 0; }

.contacts {
  padding-bottom: 80px; }

.contacts_image {
  margin-top: 80px; }

.instagram {
  padding-top: 134px;
  margin-bottom: 150px;
  overflow: hidden; }
  .instagram h2 {
    font-size: 120px;
    line-height: 145px;
    text-align: center;
    letter-spacing: 0.07em;
    color: var(--purple);
    margin-bottom: -75px;
    text-transform: uppercase;
    position: relative;
    z-index: 2; }
  .instagram .swiper-slide {
    width: 427px;
    height: 570px; }
    .instagram .swiper-slide img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.instagram-subscription {
  text-align: center;
  color: var(--brown);
  opacity: .4;
  font-family: var(--cormonant);
  margin-top: 54px; }
  .instagram-subscription a {
    color: var(--purple);
    text-decoration: underline; }

.ingredients-header {
  background: var(--milk);
  padding: 70px 0; }
  .ingredients-header h2 {
    text-align: center;
    color: var(--green);
    margin-bottom: 52px; }
  .ingredients-header button {
    font-family: 'Cormorant';
    color: var(--lightBrown); }
    .ingredients-header button:hover {
      color: var(--brown); }

.ingredients-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 38px; }

.inredients-container {
  padding: 85px 0 150px 0;
  margin-bottom: 120px; }
  .inredients-container h2 {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--green);
    color: var(--lightBrown);
    margin-bottom: 35px;
    border-radius: 50%;
    padding-left: 2px;
    padding-bottom: 2px; }

.ingredients-block_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 90px;
  margin-bottom: 120px; }

.ingredient-item {
  max-width: 440px;
  width: 100%; }
  .ingredient-item h3 {
    color: var(--green);
    margin-bottom: 16px; }
  .ingredient-item li {
    color: var(--brown); }

.about-us {
  padding-top: 57px; }
  .about-us h1 {
    text-align: center;
    margin-bottom: 45px; }
  .about-us h1, .about-us h2 {
    color: var(--green); }
  .about-us h2 {
    margin-bottom: 20px; }
  .about-us p {
    color: var(--brown); }
  .about-us article {
    margin-bottom: 70px; }
    .about-us article:last-child {
      margin-bottom: 0; }

.about-us_imaged {
  display: grid;
  grid-template-columns: 1fr 378px;
  gap: 30px; }
  .about-us_imaged img {
    width: 100%;
    height: auto;
    border: 1px solid var(--green); }

.imaged-text {
  max-width: 700px;
  padding-top: 47px;
  padding-bottom: 100px; }
  .imaged-text .subscription {
    position: relative;
    margin-top: 40px;
    padding-left: 26px;
    color: var(--green); }
  .imaged-text .subscription::after {
    content: "";
    position: absolute;
    left: 0;
    top: 16px;
    width: 18px;
    height: 1px;
    background: var(--green); }

.about-us_footer {
  position: relative;
  margin-top: -1px; }
  .about-us_footer hr {
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--green);
    left: 0;
    top: 0;
    margin: 0; }
  .about-us_footer .wrapper {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 32px 0; }
    .about-us_footer .wrapper h2 {
      color: var(--green); }
    .about-us_footer .wrapper::after {
      content: url("../img/about-us_footer.svg");
      position: absolute;
      top: -123px;
      left: 188px; }

.policy {
  padding: 65px 0 120px 0; }
  .policy h1 {
    margin-bottom: 35px;
    color: var(--green); }
  .policy p {
    color: var(--brown); }

@media (max-width: 1024px) {
  footer .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 30px; }
  .footer_nav {
    gap: 40px; }
    .footer_nav ul:last-child {
      text-align: right; }
  .subscribe-title {
    text-align: center; }
  .categories {
    padding-top: 100px;
    padding-bottom: 100px; }
  .categories_rotator {
    margin-bottom: 60px; }
  .some-love {
    grid-template-columns: 1fr; }
  .love_text-container {
    padding-right: 60px; }
    .love_text-container::before {
      content: "";
      width: 68px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background: var(--coral); }
  .love_text {
    padding: 40px 20px 70px 20px; }
  .love_image {
    display: none; }
  .goto .wrapper {
    display: grid;
    grid-template-columns: 38% 1fr;
    padding: 0; }
  .goto_collage img {
    display: none; }
  .goto_collage img:last-child {
    display: block;
    width: 100%; }
  .goto_text {
    margin: 0 auto; }
    .goto_text .arrow-btn {
      width: 65px;
      height: 65px;
      margin: 10px; }
  .contacts__form {
    flex-shrink: 1; }
  .contacts_image {
    flex-shrink: 3; }
  .instagram h2 {
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: -37px; }
  .instagram .swiper-slide {
    width: 320px;
    height: 450px; }
  .about-us_imaged {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    grid-auto-flow: dense; }
    .about-us_imaged img {
      max-width: 370px;
      margin: 0 auto;
      height: auto;
      border: 1px solid var(--green); } }

@media (max-width: 600px) {
  h1, .h1 {
    font-size: 45px;
    line-height: 1.1;
    letter-spacing: 0.04em; }
  h2, .h2 {
    font-size: 40px;
    line-height: 1.1; }
  .text-big {
    font-size: 35px;
    line-height: 1.1; }
  header {
    padding: 10px 0; }
  .header__logo img {
    width: 140px;
    height: auto; }
  .header__nav-opener p, .header__cart p {
    display: none; }
  .header__nav {
    margin: 0;
    max-width: unset;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .header__nav::after {
      display: none; }
  .header__nav-opener {
    width: 48px;
    height: 48px; }
    .header__nav-opener img {
      width: 100%;
      height: 100%; }
  .cart-number {
    width: 48px;
    height: 48px;
    font-size: 22px;
    line-height: 1.2; }
  .header__nav-item {
    text-align: center; }
  .header__nav-contacts {
    margin: 0; }
  .header__nav-container, .header__nav {
    min-height: calc(100vh - 68px); }
  .footer_nav {
    flex-direction: column;
    text-align: center;
    gap: 22px; }
    .footer_nav ul:last-child {
      text-align: center; }
  .subscribe-btn {
    width: 48px;
    height: 48px; }
  .categories-list {
    grid-template-columns: 1fr;
    gap: 10 0px; }
    .categories-list li:first-child {
      margin-bottom: 0px;
      margin: 0 auto; }
    .categories-list li:last-child {
      margin-top: 0px;
      margin: 0 auto; }
  .categories {
    padding-top: 75px; }
  .categories::after {
    height: 500px; }
  .essentials {
    padding-bottom: 75px; }
  .essentials-cards-container {
    justify-content: center; }
  .essential-card {
    max-width: 250px;
    flex-basis: 200px;
    flex-grow: 1; }
  .love_text-container {
    padding: 0 20px; }
    .love_text-container::before, .love_text-container::after {
      width: 20px; }
  .goto {
    padding: 0; }
  .goto .wrapper {
    grid-template-columns: 1fr; }
  .goto_text {
    padding: 70px 30px;
    max-width: 320px; }
  .products-section_container {
    grid-template-columns: 1fr;
    gap: 60px; }
  .products h2 {
    margin-bottom: 25px;
    text-align: center; }
  .products h1 {
    margin-bottom: 50px; }
  .contacts .wrapper {
    flex-direction: column;
    align-items: center;
    max-width: 400px; }
  input, textarea {
    font-size: 18px;
    line-height: 22px; }
  .instagram {
    padding: 50px 0; }
    .instagram h2 {
      font-size: 42px;
      line-height: 1.2;
      margin-bottom: 10px; }
    .instagram .swiper {
      overflow: visible; }
    .instagram .swiper-slide {
      width: 250px;
      height: 350px; }
  .instagram-subscription {
    margin-top: 35px;
    font-size: 22px; }
  .ingredients-block_container {
    gap: 60px; } }

/*# sourceMappingURL=style.css.map */
